body
{
	background-color: lightgray;
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
}

.header
{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 2em;
	line-height: 2em;
	text-align: center;
	background-color: white;
}

.header2
{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 2em;
	line-height: 2em;
	text-align: center;
	background-color: lightgray;
}

.headerA
{
	margin: 0.5em 0 0 0;
	text-decoration: none;
	color: black;
}

.headerASelected
{
	color: gray;
}

.homeButton
{
	height: 2em;
}

.divFrontImgBack
{
	background-color: white;
	padding: 2em;
}

.divFrontImg
{
	
}

.homeContent
{
	margin: 2em auto;
	width: 80%;
	padding: 2em;
	box-sizing: border-box;
	background-color: white;
}

.cataContent
{
	margin: 2em auto;
	width: 80%;
	padding: 2em 6em;
	box-sizing: border-box;
	background-color: white;
}

.homeContentHeader
{
	font-weight: bold;
}

.homeArticle
{
	margin: 2em auto;
}

.homeArticleTitle
{
	margin: 0 auto 4em auto;
}

.homeArticleTop
{
	margin: 0 auto 2em auto;
}

.homeArticleBottom
{
	margin: 2em auto 0 auto;
}

.homeArticleA
{
	color: black;
	text-decoration: none;
}

.homeArticleDes
{
	font-weight: lighter;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.homeNewsLeft
{
	box-sizing: border-box;
	padding: 0 1em 0 0;
}

.homeNewsRight
{
	box-sizing: border-box;
	padding: 0 0 0 1em;
}

.footer
{
	width: 80%;
	margin: 2em auto 0 auto;
}
.footer2
{
	width: 80%;
	margin: 0 auto 2em auto;
}

.footer3
{
	text-align: center;
	font-size: 0.8em;
}

.footerA
{
	color: black;
	text-decoration: none;
}

.footerHeader
{
	
}

.footerContent
{
	font-weight: lighter;
	font-size: 0.8em;
}

.title
{
	text-align: center;
	font-size: 2em;
	color: darkcyan;
}

.articleImgDiv
{
	width: 80%;
	margin: 2em auto 0 auto;
}

.articleDiv
{
	margin: 0 auto 2em auto;
	width: 80%;
	padding: 2em 6em;
	box-sizing: border-box;
	background-color: white;
}

.articleTitle
{
	text-align: center;
	font-size: 2em;
}

.articleTitle2
{
	font-size: 1.2em;
}

.articleTwoImg
{
	margin: 1em auto;
}

.articleSingleImg
{
	margin: 1em auto;
	width: 60%;
}

.publication
{
	box-sizing: border-box;
	padding: 0 0.5em;
	margin: 0 0;
}

.publicationA
{
	text-decoration: none;
	color: black;
}