body
{
	margin: 0;
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
}

p
{
	color: rgba(33,33,33,1.00);
}

.header
{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 2em;
	line-height: 2em;
	text-align: center;
	background-color:rgba(250,250,250,1.00);
}

.header2
{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 2em;
	line-height: 2em;
	text-align: center;
	background-color:rgba(250,250,250,1.00);
}

.headerA
{
	margin: 0.5em 0 0 0;
	text-decoration: none;
	color: lightgray;
}

.headerASelected
{
	color: black;
}

.homeButton
{
	height: 2em;
}

.divFrontImgBack
{
	background-color: white;
	padding: 2em 0 0 0;
}

.divFrontImg
{
	
}

.homeContent
{
	margin: 0 auto 4em auto;
	width: 100%;
	padding: 0;
	/*box-sizing: border-box;*/
	background-color: white;
}

.homeContent2
{
	width: 60%;
	margin: 0 auto 0 auto;
}

.homeContent2A
{
	width: 80%;
	margin: 0 auto 0 auto;
}

.homeContent3
{
	margin: 5em 0;
}

.cataContent
{
	margin: 2em auto;
	width: 80%;
	padding: 2em 6em;
	box-sizing: border-box;
	background-color: white;
}

.cataContent2
{
	margin: 4em auto;
}

.homeContentHeader
{
	font-weight: bold;
	margin: 4em auto 0 auto;
	font-size: 2em;
	text-align: center;
}

.homeContentDes
{
	text-align: center;
}

.homeArticle
{
	margin: 2em auto;
}

.homeArticleTitle
{
	margin: 5em auto 2em auto;
	font-weight: bold;
}

.homeArticleTop
{
	margin: 0 auto 2em auto;
}

.homeArticleBottom
{
	margin: 2em auto 0 auto;
}

.homeArticleA
{
	color: black;
	text-decoration: none;
	height: inherit;
}

.homeContent2L
{
	box-sizing: border-box;
	padding-right: 2em;
}

.homeContent2R
{
	box-sizing: border-box;
	padding-left: 2em;
}

.homeNewsL
{
}

.homeNewsR
{
	box-sizing: border-box;
	padding: 0 2em;
}

.homeNewsDark
{
	background-color:rgba(250,250,250,1.00)
}

.homeArticleDes
{
	font-weight: lighter;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.7em;
	font-size: 0.8em;
	color: darkgray;
}

.homeNewsTitle
{
	font-weight: bold;
}

.homeNewsLeft
{
	box-sizing: border-box;
	padding: 0 1em 0 0;
}

.homeNewsRight
{
	box-sizing: border-box;
	padding: 0 0 0 1em;
}

.homeNewsDes
{
	font-weight: lighter;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.7em;
	font-size: 0.8em;
	color: darkgray;
}

.footerB
{
	background-color: rgba(250,250,250,1.00);
	margin: 2em 0 0 0;
}

.footer
{
	width: 80%;
	margin: 2em auto 0 auto;
	padding: 2em 0 0 0;
}
.footer2
{
	width: 80%;
	margin: 0 auto 2em auto;
}

.footer3
{
	text-align: center;
	font-size: 0.8em;
	margin-bottom: 0;
}

.footerA
{
	color: black;
	text-decoration: none;
}

.footerHeader
{
	
}

.footerContent
{
	font-weight: lighter;
	font-size: 0.8em;
}

.footerP
{
	margin-bottom: 0;
}

.title
{
	font-size: 2.8em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.articleImgDiv
{
	width: 80%;
	margin: 2em auto 0 auto;
}

.articleDiv
{
	margin: 0 auto 2em auto;
	width: 80%;
	padding: 2em 6em;
	box-sizing: border-box;
	background-color: white;
}

.articleTitle
{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.articleTitle2
{
	font-size: 1.2em;
}

.articleText
{
	font-size: 0.8em;
}

.articleTwoImg
{
	margin: 4em auto;
}

.articleSingleImg
{
	margin: 4em auto;
	width: 60%;
}

.articleText
{
	line-height: 1.6em;
	color:rgba(50,50,50,1.00);
}

.publication
{
	box-sizing: border-box;
	padding: 0 2em;
	margin: 0 0;
}

.publicationTitle
{
	font-size: 0.8em;
}

.publicationA
{
	text-decoration: none;
	color: black;
}

.publicationDiv
{
	margin: 2em auto 2em auto;
	width: 80%;
	padding: 2em 0;
	box-sizing: border-box;
	background-color: white;
}

.publicationFront
{
	box-sizing: border-box;
	padding: 0 1em;
}

.publicationDes
{
	box-sizing: border-box;
	padding: 0 1em;
}

.bookTitle
{
	font-size: 1.5em;
	font-weight: bold;
	margin: 4em 0 1em 0;
}

.bookKey
{
	font-size: 0.8em;
	font-style: italic;
	margin: 0.5em 0;
}

.opinions
{
	margin: 2em 0;
}

.opinions2
{
	box-sizing: border-box;
	padding: 0 1em;
}

.opinionA
{
	text-decoration: none;
	color: black;
}

.opinionAb
{
	text-decoration: none;
	color: black;
}

.newsDes
{
	font-weight: lighter;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5em;
	font-size: 0.8em;
}

.bookDes
{
	font-weight: lighter;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.9em;
	line-height: 1.5em;
	color:rgba(26,26,26,1.00);
	margin-bottom: 2em;
}

.newsImg
{
	box-sizing: border-box;
	padding: 0 1em 0 0;
}

.newsCon
{
	box-sizing: border-box;
	padding: 0 0 0 1em;
}

.newsA
{
	text-decoration: none;
	color: black;
}

.news
{
	margin: 4em 0;
}

.opinionTitle
{
	font-weight: bold;
}

.opinionDes
{
	font-weight: lighter;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: gray;
	line-height: 1.5em;
	font-size: 0.8em;
}

.opinionDesTop
{
	font-weight: lighter;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: gray;
	line-height: 1.5em;
	font-size: 0.8em;
}

.pure-img
{
	width: 100%;
}

.memberImg
{
	margin: 2em auto 1em auto;
	width: 40%;
}

.cataImage
{
	position: relative;
	z-index: -1;
}

.cataTitle
{
	position: absolute;
	bottom: 4em;

}

.cataTitle2
{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: white;
	line-height: 1.5em;
}

.cataArticleDes
{
	font-weight: lighter;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.7em;
	font-size: 0.8em;
	color: darkgray;
}

.cataArticleTitle
{
	margin: 1em auto 0 auto;
	font-weight: bold;
}

.cataLink
{
	margin: 4em auto 4em auto;
	width: 80%;
}

.titleDes
{
	font-style: italic;
	font-weight: lighter;
	line-height: 1.5em;
	color: gray;
	font-size: 0.9em;
}

.em
{
	margin: 4em auto 2em auto;
	width: 50%;
}

.h
{
	color: gray;
}

.opinionTop
{
	margin-bottom: 4em;
}

.newsTitle
{
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 2em;
}