.zct-header
{
	/*border-bottom: 1px solid grey;*/
	margin-bottom: 2em;
}

.zct-menu-button
{
	height: 1.5em;
}

.zct-menu-img
{
	height: 100%;
}

.zct-name
{
	max-width: 568px;
	margin: auto;
	padding: 0 1em;
	color: gray;
}

.zct-name-ch 
{
	text-align: center;
	font-size: 1.2em;
	margin: 1em auto 0 auto;
}

.zct-name-en 
{
	text-align: center;
}

.zct-intro
{
	max-width: 768px;
	margin: auto;
	padding: 0 1em;
	color: gray;
}

.zct-index-pic
{
	max-width: 769px;
	margin: 2em auto 2em auto;
	text-align: center;
}
