.zct-header
{
	/*border-bottom: 1px solid grey;*/
	margin-bottom: 2em;
}

.zct-menu-button
{
	height: 1.5em;
}

.zct-menu-img
{
	height: 100%;
}

.zct-intro
{
	max-width: 48em;
	margin: 2em auto;
	padding: 0 1em;
	color: black;
	font-weight: lighter;
}

.zct-intro-text
{
	font-size: 1.2em;
	padding: 0 1em;
}

.zct-links
{
	margin: 2em auto;
	max-width: 35.5em;
}

.zct-links-2
{
	margin: auto;
	text-align: center;
}

.zct-link-a
{
	margin: auto;
	color: black;
	font-size: 1.2em;
	font-weight: lighter;
	text-decoration: none;
	padding: 0.5em;
	/*border: 1px solid black;
	border-radius: 1em;*/
	display: inline-block;
}

.zct-link-img
{
	height: 1.2em;
	vertical-align: middle;
}

.zct-link-header
{
	font-size: 1.2em;
	font-weight: lighter;
	margin-bottom: 1em;
}

.zct-front-content
{
	max-width: 48em;
	margin: 2em auto;
	padding: 0 1em;
}

.zct-front-content-2
{
	padding: 1em;
	box-sizing: border-box;
	position: relative;
	height: 16em;
}

.zct-front-content-image
{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.zct-front-content-text
{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 2em;
	margin-top: -0.5em;
	color: white;
	text-shadow: 2px 2px 2px grey;
	text-transform: uppercase;
}

.zct-front-content-text-spacing
{
	letter-spacing: 0.5em;
}

.zct-footer
{
	width: 100%;
	text-align: center;
	margin:  4em auto  1em auto;
}

.zct-cr
{
	color: gray;
	font-size: 0.75em;
	font-weight: lighter;
}

.zct-miit
{
	color: gray;
}